* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'fkg';
    src: url('../fonts/FranklinGothic-Medium.eot');
    src: url('../fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothic-Medium.woff2') format('woff2'),
        url('../fonts/FranklinGothic-Medium.woff') format('woff'),
        url('../fonts/FranklinGothic-Medium.ttf') format('truetype'),
        url('../fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: Calibri, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: fkg, sans-serif;
    letter-spacing: .3px;
}

input {
    font-family: fkg, sans-serif;
    letter-spacing: .3px;
    font-weight: 1 !important;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;

}

nav {
    font-family: fkg, sans-serif;
    font-weight: 1;
    width: 100%;
    height: 60px;
    background: #344051;
    animation: navcolorcoming 2s ease forwards;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;

}
}
}

@keyframes navcolorcoming {
    from {
        margin-top: -70px;
    }

    to {
        margin-top: 0;
    }
}

.header_logo {
    font-family: fkg, sans-serif;
    color: #fff;
    font-size: 28px;
    line-height: 62px;
    float: left;
    opacity: 0;
    animation: logocoming 2s 1s ease forwards;

}

@keyframes logocoming {
    from {
        opacity: 0;
        margin-left: -400px;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

.header_menu {
    float: right;
    animation: menucoming 1s 2s ease forwards;
    opacity: 0;
}

.header_menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: none;
}

header a {
    text-decoration: none;
    transform: scale(1);
    display: inline-block;
    transition: .5s;


}

header li a:visited {
    color: white;
}

header li a:hover {
    color: #e88604;
}

header a:active {
    transition: .1s;
    transform: scale(1.2)
}

@keyframes menucoming {
    from {
        opacity: 0;
        margin-right: -432px;
    }

    to {
        opacity: 1;
        margin-right: 0;
    }

}

.head_page {
    width: 100%;
    height: 100vh;
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) center/cover no-repeat;
    float: left;


}

.title_head {
    float: left;
    margin: 340px 0px 0px 390px;
    text-align: center;
}

.title_head h1 {
    position: relative;
    color: #2c384a;
    font-size: 64px;
    font-weight: 600;
    opacity: 0;
    animation: titlecoming 1.5s 1s cubic-bezier(.38, .68, .33, .31) forwards;
}

@keyframes titlecoming {
    from {
        opacity: 0;
        left: -400px;
    }

    to {
        opacity: 1;
        left: 0;
    }
}

.title_head h5 {
    font-size: 16px;
    color: #79818d;
    margin-top: 45px;
    opacity: 0;
    animation: subtitlecoming 1s 2.5s ease forwards;

}

@keyframes subtitlecoming {
    from {
        margin-top: -50px;
        opacity: 0;
    }

    to {
        margin-top: 45px;
        opacity: 1;
    }

}

.title_head input {
    border: 3px solid;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background: none;
    color: #6d7682;
    border-color: #6d7682;
    margin: 57px 28px 0px 14px;
    font-weight: 700;
    font-size: 15px;
    padding: 0px 16px;
    transform: scale(1);
    transition: .2s;
    opacity: 0;
    animation: buttoncoming 1s 3.2s ease forwards;




}

.title_head input:hover {
    background-color: #6d7682;
    transform: scale(1.2);
    color: #fff;

}

.title_head input:active {
    letter-spacing: 2px;

}

@keyframes buttoncoming {
    0% {
        opacity: 0;
        margin-top: 10px;
    }

    100% {
        opacity: 1;
        margin-top: 57px;
    }
}

.second_page {
    float: left;
    width: 100%;
    height: 720px;
    background-color: #fff;
    box-shadow:

}

.second_title {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    opacity: 0;
    animation: secondtitle 2s 3s ease forwards;



}

@keyframes secondtitle {
    from {
        opacity: 0;
        bottom: -30px;
    }

    to {
        opacity: 1;
        bottom: 0px;
    }
}

.centrimage {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.second_title h2 {
    font-weight: 600;
    text-transform: uppercase;
    color: #3f495a
}

#mainmini {
    position: relative;
    margin-top: 58px;
    opacity: 0;
    animation: mainmini 3s 3s ease forwards;
}

@keyframes mainmini {
    from {
        top: -70px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.second_text {

    width: 733px;
    margin: 30px auto 34px;
    color: #3f495a;

}

.second_page input {
    border: 3px solid;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background: url(../img/download.jpg.png) left/15px no-repeat;
    background-position: 6px;
    color: #6d7682;
    border-color: #6d7682;
    font-weight: 700;
    padding: 0px 16px 0px 27px;
    display: block;
    margin: auto;
    transform: scale(1);
    transition: .2s;
    opacity: 0;
    animation: mainmini 3s 3.8s ease forwards;
}

.second_page input:hover {
    background-color: #6d7682;
    transform: scale(1.2);
    color: #fff;

}

.skills {
    float: left;
    width: 100%;
    height: 530px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png) center/cover no-repeat;

}

.skills > h2 {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.skills_itemrow {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto 0px;
    text-align: center;
}

.skills_item {
    width: 222px;
    height: 180px;

}

.skills_itemrow h3 {
    color: #cf7600;
    margin: 40px auto 15px;
    font-weight: bold
}

.cases {
    float: left;
    width: 100%;
    height: 115%;
    background: #fff;
}

.cases > h2 {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.cases > p {
    width: 100%;
    text-align: center;
    margin: 40px auto 50px;
}

#opencloud {
    display: block;
    margin: 0px auto;
}

.cases_content {
    display: flex;

}

.cases_info {
    display: flex;
    flex-direction: column;
    margin-left: 370px;
}

.cases_info input {
    margin-top: 30px;
}

.cases_info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #3f495a;
}

.cases_sub {
    color: #3f495a;
}

.cases_project_info {
    width: 865px;
    margin: 15px 0px 0px 140px;
}

.cases_project_info h3 {
    font-size: 20px;
    font-weight: bold;
    color: #3f495a;
    margin-bottom: 10px;
}

.cases_project_info p {
    line-height: 2.4;
    color: #3f495a;
}

.cases_info input {
    border-radius: 5px;
    background: #63b5ae;
    color: #fff;
    padding: 13px 42px;
    transition: .3s;
}

.cases_info input:hover {
    opacity: .5;
}

.price_counter {
    width: 100%;
    height: 900px;
    float: left;

}

.price_counter > h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 770;
}

.price_counter_inner {
    width: 880px;
    margin: 0px auto 0px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;

}

.price_counter_content {
    padding: 0px 0px 50px
}

.price_counter_content h3 {
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.price_counter_content select {
    background: #eeeeee;
    border-radius: 5px;
    height: 50px;
    width: 880px;
}

.sroky {
    width: 880px;
    display: block;
    margin: 0px auto 0px;
    font-size: 18px;
    font-weight: bold
}

.podsroky {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.sroky h4 {
    font-weight: 600;
}

.statistic {
    float: left;
    width: 100%;
    height: 500px;
    background: url(../img/statistic.png) center/cover no-repeat;
    background-attachment: fixed;
}

.statistic h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 770;
}

.statistic_content {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 95px auto 0px;
}

.statistic_content img {
    width: 56px;
    color: #d17e00;
    display: block;
    height: 52px;
    margin: 0px auto 35px;
}

.statistic_items {
    text-align: center;

}

.statistic_items > h3,
h4 {
    margin-bottom: 35px;
}

.statistic_items h3 {
    font-size: 30px;
    font-weight: 1000;
}

.statistic_items h4 {
    font-size: 16px;
    font-weight: 550
}

.reviews {
    float: left;
    width: 700px;
    height: 590px;
    margin: 0px 617px 0px;
    text-align: center;
}

.reviews h2 {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 770;

}

.reviews img {
    display: block;
    margin: 0px auto 32px;
}

#reviewline {
    margin-top: 20px;
    margin-bottom: 58px;
}

.reviews p {
    margin-bottom: 32px;
    font-size: 16px;
}

.reviews::after {
    content: "";
    display: block;
    background: #d17e00;
    border-radius: 7px;
    height: 10px;
    width: 10px;
    margin: 0px auto 0px;


}

.contacts {
    float: left;
    width: 100%;
    height: 808px;
    background: url(../img/contact.png) center/cover no-repeat;
}

.contacts h2 {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 770;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.contacts > p {
    text-align: center;
    margin: 30px auto 50px;
    color: #fff;
    font-size: 16px;
}

.contacts_content {
    display: flex;
    justify-content: space-between;
    width: 615px;
    margin: 0px auto 0px;
    text-align: center;
    color: #fff;
}

.contacts_items img {
    margin-bottom: 16px;
}

.contacts h3 {
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin: 30px auto 0px;
    text-transform: uppercase;
}

.contacts form {
    height: 217px;
    margin: 10px auto 10px;
    width: 734px;
    display: flex;
    flex-direction: column;
}

.name_emal {
    display: flex;
    justify-content: space-between;
}

.name_emal input {
    height: 33px;
    width: 352px;
    margin-top: 40px;
}

.text textarea {
    height: 100px;
    width: 734px;
    margin-top: 14px;
}

.send input {
    display: block;
    background: none;
    border: 2px solid;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 20px 20px 15px;
    margin: 30px auto 0px;
    transform: scale(1);
    transition: all .5s;
}

.send input:hover {
    background: #fff;
    color: #3f495a;
    transform: scale(1.1);
    letter-spacing: 1px;

}

.social_media {
    display: flex;
    justify-content: space-between;
    margin: 112px auto 0px;
    width: 415px;
}

.map {
    float: right;
    width: 1920px;
}

footer {
    float: left;
    width: 100%;
    height: 60px;
    background: #344051;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 20px auto 0px;

}

.white-btn:visited {
    color: white;
}

.dropdown-item:visited {
    color: black;
}

.dropdown-item:active {
    background: #3f495a;
    color: white;
}

@media(max-width:992px) {
    .white-btn {
        opacity: 0;
        position: relative;
        animation: menubtn 1s linear forwards;
    }
}

@keyframes menubtn {
    0% {
        top: -20px;
        left: 0;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
